<html>
<head>
    <meta charset="utf-8">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>

{% if user.type == 'customer' %}

<a id="create" href="/request/create">Создать запрос</a>

{% endif %}

{% if user.type == 'shop' %}

<a id="create" href="/product/add">Добавить запчасть</a>

{% endif %}

<a id="exit" href="/auth/sign-out">Выйти</a>

<div id="list-wrapper">

    {% if requests and user.type == 'shop' %}
        <h2>Запросы покупателей для магазина {{ user.login }}</h2>
        <ol>
            {% for request in requests %}
            <li>Название запчасти: {{ request.product }} <br> Покупатель: {{ request.customer }}</li><br>
            {% endfor %}
        </ol>
    {% endif %}

    {% if not requests and user.type == 'shop' %}
        <h2>У вашего магазина нет запросов от покупателей.</h2>
    {% endif %}

    {%  if requests and user.type == 'customer' %}
        <h2>Ваши запросы {{ user.login }}</h2>
        <ol>
            {% for request in requests %}
                <li>Название запчасти: {{ request.product }}</li>
            {% endfor %}
        </ol>
    {% endif %}


    {% if not requests and user.type == 'customer' %}
        <h2>В текущее время у вас нет запросов.</h2>
    {% endif %}

</div>

</body>
</html>