#centered{
    padding: 50px;
    width:300px;
    border:1px solid black;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left: -200px;
    background: #99cdd8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#centered input[type="text"], #centered input[type="password"]{
    display:block;
    padding: 5px;
    margin:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#centered button{
    display:inline-block;
    padding: 5px;
    margin:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#centered h2{
    display: inline-block;
    margin:10px;
}

#list-wrapper{
    font-size:20px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-200px;
    margin-left: -300px;
}

#list-wrapper li{
    font:30px sans-serif;
}

#exit{
    font:30px Tahoma;
    display:inline-block;
    position:absolute;
    top:10px;
    right:10px;
    background: #0000F0;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    border:1px solid #000;
    text-decoration: none;
}

#create{
    font:30px Tahoma;
    display:inline-block;
    position:absolute;
    top:10px;
    left:10px;
    background: #aacd4e;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    border:1px solid #000;
    text-decoration: none;
}